main {
    background-color: beige;
    border: black solid .15em ;
    border-radius: .25em;
}
.headerBox{
    text-align: center;
}
#toDoList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}